doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css' type="text/css")
    script(src='/javascripts/jquery.min.js')
    script(src='/javascripts/script.js')
  body
    block content