body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;

}

a {
  color: #00B7FF;
}

button{
  position: absolute;
  right: 50%;
  top: 50%;
}

.inputs{
  display: list-item;

  position: absolute;
  right: 50%;
  top: 0%;
}

#content{
  margin-top: 30px;
  width: 300px;
  height: 150px;

}